html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header,footer {
  display: flex;
  align-items: center;
  background-color: grey;
  height: 150px;
  padding-left: 5px;
  
}

.menu {
  display: flex; 
}

.menu li {
    list-style-type: none ;       /* Suppression des puces */
}

.menu a {
  display:block;                /* Transformation en block */
  min-width: 120px;             /* Largeur minimale des liens */
  margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;           /* Centrage du texte */   
  background-color: #b9cfcb;    /* Couleur d'arrière-plan */
  color: #000000;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  border: 1px solid #fff;       /* Ajout d'une bordure */
  border-radius: 4px;           /* Arrondis des bordures */
  justify-content: center     /* Alignements des liens dans le menu */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.title2{
  text-align: center;
}

.produitMoment{
  border: 1px solid black; padding: 5px;
  border-radius: 30px;
}

.flottantGauche{
  float: left;
}
.flottantDroite{
  float: right;
}

.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  margin-left: 10px;
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.menuFooter{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  
}

.menuFooter a{
  display:block;                /* Transformation en block */
  min-width: 120px;             /* Largeur minimale des liens */
  margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
  padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
  text-align: center;           /* Centrage du texte */   
  color: #ffffff;                  /* Couleur du texte */
  text-decoration: none;        /* Suppression du soulignement */
  justify-content: center     /* Alignements des liens dans le menu */
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
